/* menu-styles.css */
#mapOptionsBox {
    width: 720px; 
    margin: 20px auto;
    background: linear-gradient(to right, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

#mapOptionsBox h3 {
    margin-top: 0;
    padding-top: 0;
    font-weight: bold;
    color: white;
}

/* Container for the Checkbox and Label */
/* Container for the Checkbox and Label */
.checkbox {
  display: inline-flex;
  align-items: center; /* Vertically center align items */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* Hiding the Default Checkbox */
.checkbox input[type="checkbox"] {
  display: none;
}

/* Style for the Label */
.checkbox label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: white;
}


/* Custom Box for the Checkbox */
.checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  background-color: #f0f0f0;
  border-radius: 3px;
  transform: translateY(-50%);
  transition: background-color 0.3s, border-color 0.3s;
}

/* Style when Checkbox is Checked */
.checkbox input[type="checkbox"]:checked + label:before {
  background-color: white;
  border-color: purple;
}

/* Checkmark Style */
.checkbox input[type="checkbox"]:checked + label:after {
  content: '\2713';
  position: absolute;
  left: 3px; /* Adjusted for thicker font */
  top: 50%;
  color: purple;
  font-size: 18px;
  font-weight: bold; /* Make the checkmark thicker */
  transform: translateY(-50%);
}


#season-slider-container {
    width: 30%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    margin: 10px auto;
  }

  #season-slider-container.visible {
    max-height: 100px;
  }
  
  #season-slider {
    width: 100%;
    margin: 10px 0;
  }
  
  #season-ticks {
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
  }
  
  #season-ticks span {
    display: block;
    text-align: center;
  }
  
  #season-labels {
    display: flex;
    justify-content: space-between;
  }
  
  #season-labels span {
    display: block;
    text-align: center;
  }

  /* General Style for the Dropdown */
#seasonSelect {
  font-family: Arial, sans-serif; /* Choose a modern, clean font */
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f0f0f0; /* Light background */
  color: #333; /* Dark text for contrast */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

/* Style when the Dropdown is Hovered */
#seasonSelect:hover {
  background-color: #e0e0e0; /* Slightly darker on hover */
}

/* Style when the Dropdown is Focused */
#seasonSelect:focus {
  box-shadow: 0 0 5px rgba(50, 50, 250, 0.7); /* Blue glow for focus */
}

/* Style for the Option Elements inside the Dropdown */
#seasonSelect option {
  padding: 10px;
  background-color: white; /* White background for options */
  color: #333; /* Consistent text color */
}
